<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431285013518-brd6kmlfsaor2f4a7p6nk7b5kto5o3e6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431285013518-brd6kmlfsaor2f4a7p6nk7b5kto5o3e6</string>
	<key>API_KEY</key>
	<string>AIzaSyCrRotThB-ivzSFt9UexZubLaQIFLpNgwk</string>
	<key>GCM_SENDER_ID</key>
	<string>431285013518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fypv1</string>
	<key>PROJECT_ID</key>
	<string>mywalkingdeliver</string>
	<key>STORAGE_BUCKET</key>
	<string>mywalkingdeliver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431285013518:ios:6ea20d261d96b6dbf6c05f</string>
	<key>DATABASE_URL</key>
	<string>https://mywalkingdeliver.firebaseio.com</string>
</dict>
</plist>